.account{
    margin-top: 77px;
    h3{
        color: #ffffff;
        font-size: 22px;
        font-weight: 500;
    }
    .sidebar{
        padding: 36px 0;
        background-color: rgba(40, 51,73 , .4);
        .top-sidebar{
            .avata{
                width: 100px;
                height: 100px;
                background-color: #ffffff;
                border-radius: 50%;
                padding: 20px;
                position: relative;
                overflow: hidden;
                cursor: pointer;
                margin: 0 auto;
                .avata-img{
                    width: 100%;
                    img{
                        width: 100%;
                    }                                        
                }
            }
            h3{
                text-align: center;
                font-size: 22px;
                font-weight: 500;
                margin-top: 15px;
            }
        }
        .bottom-sidebar{
            margin-top: 40px;
            .tab{
                padding: 0 2px;
                .item{
                    padding: 15px 24px;
                    transition: all .3s ease;
                    cursor: pointer;
                    font-size: 0;
                    > *{
                        display: inline-block;
                        vertical-align: top;
                    }
                    img{
                        width: 22px;
                    }
                    .text{
                        width: calc(100% - 22px);
                        padding-left: 10px;
                        h4{
                            font-size: 16px;
                            color: #8a8c8e;
                        }
                        p{
                            font-size: 14px;
                        }
                    }
                    &:hover, &.active{
                        background-image: linear-gradient(to right, rgba(255,255,255, 0),rgba(255,255,255, .2),rgba(255,255,255, .6),rgba(255,255,255, .2),rgba(255,255,255, 0));
                        h4{
                            color: #fff
                        }
                    }
                    + .item{
                        border-top: 1px solid #8a8c8e;
                    }
                }
            }
        }
    }
    .main{
        background-color: rgba(40, 51,73 , .4);
        padding: 32px 39px;
        
        form{
            font-size: 0;
            margin: 0 -7px;
            .upload{
                margin-top: 20px;
                text-align: center;
                >*{
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 18px;
                    color: #fac800;
                }
                .text{
                    width: calc(100% - 250px);
                    padding-right: 90px;
                    text-align: left;
                }
                .upload-block{
                    border-radius: 5px;
                    cursor: pointer;
                    padding: 0 35px;
                    padding-top:35px ;
                    padding-bottom: 10px;
                    font-size: 14px;
                    color: #8a8c8e;
                    background-color: #fff;
                    width: 250px;
                }
            }
            ul{
                margin-top: 25px;
                padding: 0 7px;
                li{
                    color: #ddd9d8;
                    font-size: 14px;
                    position: relative;
                    padding-left: 14px;
                    &::before{
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translate(0 , -50%);
                        width: 6px;
                        height: 6px;
                        background-color: #ddd9d8;
                        border-radius: 50%;
                    }
                }
            }
            .input-group{
                position: relative;
                margin-top: 48px;
                display: inline-block;
                width: 100%;
                padding: 0 7px;
                font-size: 16px;
                &.checkbox{
                    input{
                        &:checked{
                            ~label{
                                >span:first-child{
                                    &::before{
                                        position: absolute;
                                        content: '';
                                        width: 15px;
                                        height: 25px;
                                        border-right: 2px solid #fac800;
                                        border-bottom: 2px solid #fac800;
                                        bottom: 0;
                                        right: 0;
                                        transform: rotate(30deg) translate(-7px, -2px);
                                    }
                                }
                            }
                        }
                    }
                    label{
                        position: relative;
                        
                        > span{
                            display: inline-block;
                            vertical-align: middle;
                            &:first-child{
                                width: 25px;
                                position: relative;
                                height: 25px;
                                background-color: #8e919c;
                            }
                            &:last-child{
                                display: inline;
                            }
                        }
                    }
                }
                &.haft{
                    width: 50%;
                }
                &.select{
                    margin: 0;
                    span{
                        position: relative;
                    }
                    .title{
                        font-size: 18px;
                        color: #fff;
                        margin-bottom: 30px;
                    }
                    .select-block{
                        font-size: 0;
                        cursor: pointer;
                        >*{
                            display: inline-block;
                            vertical-align: middle;
                        }
                        img{
                            width: 37px;
                        }
                        .selected{
                            width: calc(100% - 37px - 17px);
                            margin-left: 17px;
                            font-size: 16px;
                            color: #8a8c8e;
                            position: relative;
                            >span{
                                font-size: 0;
                                padding-bottom: 5px;
                                >*{
                                    vertical-align: middle;
                                }
                                &.contry{
                                    img{
                                        width: 27px;
                                    }
                                    span{
                                        width: calc(100% - 30px - 27px);
                                        font-size: 16px;
                                        padding-left: 8px;
                                    }
                                }
                                span{
                                    width: calc(100% - 30px);
                                    font-size: 16px;
                                }
                                border-bottom: 1px solid #8a8c8e;
                                width: 100%;
                                [class*="fa-"]{
                                    width: 30px;
                                    text-align: center;
                                    font-size: 16px;
                                }
                            }
                            .dropdown-selected{
                                position: absolute;
                                opacity: 0;
                                pointer-events: none;
                                top: calc(100% + 2px);
                                left: 0;
                                border-radius: 8px;
                                overflow: hidden;
                                width: 100%;
                                transition: all .3s ease;
                                max-height: 210px;
                                overflow-y: scroll;
                                z-index: 999;
                                p{
                                    padding: 16px 18px;
                                    font-size: 16px;
                                    color: #8a8c8e;
                                    background-color: #ffffff;
                                    width: 100%;
                                    &:hover,&.selected-value{
                                        background-color: #fff6d0;
                                    }
                                }
                            }
                            &.show{
                                .dropdown-selected{
                                    opacity: 1;
                                    pointer-events: all;
                                }
                            }
                        }
                    }
                }
                .radio-group{
                    width: 100%;
                    padding: 21px 0;
                    border: 1px solid #525660;
                    text-align: center;
                    font-size: 0;
                    .group-label{
                        // width: ;
                        display: inline-block;
                        width: 50%;
                        position: relative;
                        font-size: 14px;
                        >*{
                            vertical-align: middle;
                        }
                        input{
                            &:checked{
                                ~label{
                                    background-color: #ddd9d8;
                                    &::before{
                                        content: "";
                                        width: 10px;
                                        height: 10px;
                                        background-color: #fac800;
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50% , -50%);
                                    }
                                }
                            }
                        }
                        label{
                            border-radius: 50%;
                            background-color: #8a8c8e;
                            padding: 9px;
                            position: relative;
                            width: 18px;
                            height: 18px;
                            display: inline-block;
                            margin-right: 17px;
                            // top: 0;
                            // left: 0;
                        }
                    }
                }
                >span{
                    position: absolute;
                    top: 0;
                    left: 27px;
                    transform: translate(0 , -50%);
                    padding: 0 13px;
                    background-color: #1a2032;
                    color: #fac800;
                    font-size: 16px;
                }
                input{
                    background-color: transparent;
                    color: #8a8c8e;
                    border: 1px solid #525660;
                    font-size: 14px;
                    padding: 18px;
                    width: 100%;
                    &[type="radio"]{
                        display: none;
                    }
                    &[type="checkbox"]{
                        display: none;
                    }
                }
                button{
                    border-radius: 10px;
                    background-image: linear-gradient(to bottom , #e9c258 , #ecd98a, #a57d04 ,#c39500);
                    color: #fff;
                    padding: 17px 0;
                    width: 195px;
                    font-size: 16px;
                    text-transform: uppercase;
                    font-weight: 500;
                    border: none;
                }
            }

        }
        .ref{
            >div{
                margin-top: 25px;
                font-size: 0;
                >span:first-child{
                    width: 160px;
                    font-size: 16px;
                    color: #8a8c8e;
                }
                .high-line{
                    color: #fac800;
                    font-size: 18px;
                }
                .link{
                    word-break: break-all;
                    font-size: 16px;
                    cursor: pointer;
                    color: #0687d7;
                    word-wrap: break-word;
                    [class*="fa-"]{
                        color: #fff;
                        cursor: pointer;
                    }
                }
                .code{
                    cursor: pointer;
                    color: #ffffff;
                    font-size: 16px;
                    [class*="fa-"]{
                        color: #fff;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 992px){
    .account {
        .sidebar{
            padding: 15px 0;
            .bottom-sidebar{
                margin-top: 26px;
            }
        }

        .main{
            .ref{
                >div{
                    >span:first-child{
                        width: 80px;
                        vertical-align: top;
                        font-size: 14px;
                    }
                    >span:last-child{
                        width: calc(100% - 80px);
                        vertical-align: top;
                    }
                }
            }
            .input-group.haft.select{
                width: 100%;
                + .select{
                    margin-top: 48px;
                }
            }
            form{
                .upload{
                    font-size: 0;
                    .text{
                        width: 70%;
                        font-size: 12px;
                    }
                    .upload-block{
                        width: 30%;
                        padding: 10px;
                    }
                }
            }
        }
        .kdg-col-3{
            width: 100%;
            *{
                text-align: center;
            }
        }
        .kdg-col-9{
            width: 100%;
            margin-top: 7px;
        }
        
    }
}