.stake{
    .block1{
        margin-top: 75px;
        .block-title{
            .title{
                font-size: 35px;
                font-weight: bold;
                background: linear-gradient(to bottom ,#edda8b,#d9c26a, #a47b00);
                background-clip: text;
                -webkit-text-fill-color: transparent;
                text-align: center;
            }
            p{
                text-align: center;
                font-size: 18px;
                margin-top: 10px;
            }
        }
        .des{
            margin-top: 40px;
            text-align: center;
            font-size: 14px;
            line-height: 22px;
            padding: 0 35px;
            
        }
        .list-block1{
            margin: 0 -22px;
            margin-top: 30px;
            .item{
                padding: 0 22px;
                .item-block1{
                    text-align: center;
                    border-radius: 5px;
                    padding: 25px 10px;
                    border: 1px solid #444959;
                    p{
                        margin-top: 15px;
                    }
                }
            }
        }
    }

    .block2{
        padding: 35px 0;
        margin-top: 70px;
        background-color: rgba($color: #fff, $alpha: .3);
        .list-block2{
            margin: 0 -100px;
            .item{
                padding: 0 100px;
                .block2-item{
                    text-align: center;
                    position: relative;
                    background-color: #171a23;
                    border-radius: 50%;
                    .inside-block{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50% , -50%);
                        width: 80%;
                        height: 80%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;
                        flex-direction: column;
                        border-radius: 50%;
                        border: 1px solid #fac800;
                        .number{
                            font-size: 30px;
                            font-weight: 500;
                            color: #fac800;
                        }
                        .name{
                            margin-top: 5px;
                            font-size: 18px;
                            font-weight: 300;
                        }
                    }
                    &::before{
                        content: "";
                        padding-top: 100%;
                    }
                }
            }
        }
    }

    .history{
        margin-top: 70px;
        .link{
            text-align: right;
            span{
                color: #fac800;
                font-size: 20px;
                text-decoration: underline;
            }
        }
        table{
            width: 100%;
            border-radius: 8px;
            overflow: hidden;
            margin-top: 13px;
            thead{
                width: 100%;
                background-color: #434a54;
                tr{
                    width: 100%;
                    th{
                        text-align: center;
                        padding: 26px 0 20px 0;
                    }
                    th:first-child{
                        padding-left: 24px;
                    }
                    th:last-child{
                        padding-right: 24px;
                    }
                    .head-title{
                        column-span: 4;
                        text-align: left;
                        font-size: 30px;
                        font-weight: bold;
                        padding: 35px 0;
                        position: relative;
                        &::before{
                            content:  "";
                            position: absolute;
                            bottom: 0;
                            height: 1px;
                            width: calc(100% - 48px);
                            background-color: rgba($color: #fff, $alpha: .3);
                            left: 50%;
                            transform: translate(-50% , 0);
                        }
                    }
                }
            }
            tbody {
                background-color: rgba($color: #283349, $alpha: .4);
                tr{
                    td{
                        padding: 13px 0;
                        text-align: center;
                        button{
                            font-size: 14px;
                            border: none;
                            padding: 12px 18px;
                            border-radius: 50px;
                            &.enable{
                                cursor: pointer;
                                background-color: #26a65b;
                                color: #fff;
                            }
                            &.disable{
                                color: #8a8c8e;
                                background-color: #525863;
                            }
                        }
                    }
                }
            }
        }
    }
}

.stake-join{

}